<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="682" />
    <add key="mainForm.Location.Y" value="220" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEANPQ/Foi/P+SR2WejhMARZ/5YQwAAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEANPQ/Foi/P+Sh5z8bQcAzkTIJwwAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEANPQ/Foi/P+Sh+gMAUcA2fC6SwwAAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAEtfElUi/P+Shx//WkcAvwdQWAwAAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAGPjiCoR/n/J44j5MUcATF9VPgwAAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAEtfElUi/P+SR09NtSMAopXBBQwAAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAEtfElUi/P+SxxShSY4AXUSZXQwAAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAEtfElUi/P+Sx3yTe44AB/mU6gwAAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAEtfElUi/P+SBwNDhRMAbA+BTQwAAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAEtfElUi/P+SBwNDkhMAt/Ws/QwAAAA=" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAEtfElUi/P+SBwODvxMAWK+G3QwAAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAEtfElUi/P+SBwNDohMAdKaB1gwAAAA=" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAEtfElUi/P+SBwNDhRMAbA+BTQwAAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAJO5G10i/P+Sx+HO404ATv61mwwAAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAJv4KapE+P8lD33B3S4AaAQ7mgwAAAA=" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEANvvEF0i/P+Sh77gbhcA8qAegwwAAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAHvXF10i/P+Sh77gbhcA57Ef1wwAAAA=" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAJO5G10i/P+Sh77gbhcASXr1ngwAAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAJO5G10i/P+Sx63WBkcAR5ePmQwAAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAJO5G10i/P+Sx5SKGw4AAL89WgwAAAA=" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAJO5G10i/P+Sx7/0JjsAz6U17gwAAAA=" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAJO5G10i/P+SR0eEjAMAjQMp1wwAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>